colorBlue = #4c62b9
colorOrange = #f78a00

tabletWidth = 768px
desktopWidth = 992px
desktopWidthXL = 1600px

phone = "only screen and (max-width: " + (tabletWidth - 1) + ")"
tablet = "only screen and (min-width: " + tabletWidth + ") and (max-width: " + (desktopWidth - 1) + ")"
desktop = "only screen and (min-width: " + desktopWidth + ")"
desktopXL = "only screen and (min-width: " + desktopWidth + ")"
phone_tablet = "only screen and (max-width: " + (desktopWidth - 1) + ")"