.highlight
	padding 100px 0 70px
	background url('i/highlight-bg.jpg') no-repeat center #dadbdf
	background-size cover
	height 400px
	font-size 22px
	&_blue
		background-image url('i/highlight_blue-bg.jpg')
		background-color #313f74
		height 300px
		color #ffffff
		position relative
		padding-top 90px
		&:after
			content " "
			position absolute
			top 100%
			left 50%
			margin-left -14px
			width 0
			height 0
			border-style solid
			border-width 14px 14px 0 14px
			border-color #4559a5 transparent transparent transparent
