.app-block
	display block
	height 456px
	position relative
	&__text
		position relative
		z-index	2
		padding 30px 0
		max-width 450px
		margin-right 0
		margin-left auto
		margin-top 50px
	&__image
		position absolute
		z-index 1
		width 707px
		height 456px
		bottom 0
		right 50%
		margin-right -80px
		background url("i/hand-bg.jpg") no-repeat right bottom transparent
		background-size cover
	&__item
		margin-bottom 20px