@font-face
	font-family: 'Museo Sans';
	src: url('f/museosans-100.woff') format('woff'), url('f/museosans-100.ttf') format('truetype');
	font-weight: 100
	font-style: normal

body
	background green
	font-family 'Museo Sans'
	font-weight: 100
