h =  60px
r = h / 2
.subscribe
	&__fieldset
		letter-spacing 0
		font-size 0
		white-space nowrap
		position relative
		transition all .2s ease-in-out
		.subscribe_sent &
			blur = 5px
			-webkit-filter blur(blur)
			-moz-filter blur(blur)
			-ms-filter blur(blur)
			-o-filter blur(blur)
			filter blur(blur)
			opacity .7
	&__description
		margin-bottom 20px
	&__field
	&__submit
		letter-spacing normal
		font-size 16px
		display inline-block
		vertical-align top
	&__img
		margin-right 30px
	&__input
	&__submit
		height h
		padding 0 20px
		font-size 18px
		font-weight bold
		border 1px solid #cfcfcf
		&:focus
			outline 0 none !important
			
	&__input
		border-radius r 0 0 r
		color #333333
		display inline-block
		text-align left
		width 560px
		background-color white
		border-right 0 none
		transition color .2s ease-in-out
		.subscribe_sent &
			color white

		&:focus
			border-color colorOrange
		&.error
			border-color red

	&__submit
		cursor pointer
		color white
		text-align center
		border-radius 0 r r 0
		margin-left -1px
		border-color colorOrange
		background-color colorOrange

	&__message
		font-size 28px
		letter-spacing normal
		white-space nowrap
		padding 0
		line-height (h - 2)
		position absolute
		left 0
		top 0
		bottom 0
		right 0
		display none
		opacity 0
		transition .5s opacity .2s ease-in-out
		.subscribe_sent &
			display block
			opacity 1
			
		
	

