include ../../bemto/bemto
include ../blocks/index

doctype html
html
	head
		title Hello!
		link(rel="stylesheet" href="/assets/vendor.css")
		link(rel="stylesheet" href="/assets/app.css")
	body
		block main
		script(src="/assets/vendor.js")
		script(src="/assets/app.js")
