.header
	height 676px
	background url('i/header-bg.jpg') no-repeat center white
	background-size cover
	padding 135px 0 90px
	&__body
		width 340px
		margin-left auto
		margin-right 0 
		text-align center
		padding 0 20px
	&__logo
		margin-bottom 25px
		
	&__description
		font-size 28px
		font-weight bold
		margin-bottom 35px
